<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1><a href="{% url 'payments:order_list' %}">Payments</a> <a href="{% url 'payments:status_list' %}">Statuses</a></h1>
{% block content %}

{% endblock %}
</body>
</ul>
</html>