{% extends 'payments/_base.html' %}
{% block content %}
<ul>
    <h3><a href="{% url 'payments:order_create' %}">Create Order</a> </h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Purporse</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
{% for payment in object_list %}
    <tr>
        <td>{{ payment.id }}</td>
        <td>{{ payment.created_at }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.purporse }}</td>
        <td>{{ payment.status }}</td>
        <td><a href="{% url 'payments:order_update' pk=payment.id %}">Edit</a> </td>
        <td><a href="{% url 'payments:order_delete' pk=payment.id %}">Delete</a> </td>
    </tr>
{% empty %}
    <li>No payments yet.</li>
{% endfor %}
{% endblock %}
    </table>
