{% extends 'payments/_base.html' %}
{% block content %}
<ul>
    <h3><a href="{% url 'payments:status_create' %}">Create Status</a> </h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
{% for status in object_list %}
    <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td><a href="{% url 'payments:status_update' pk=status.id %}">Edit</a> </td>
        <td><a href="{% url 'payments:status_delete' pk=status.id %}">Delete</a> </td>
    </tr>

{% empty %}
    <li>No payments yet.</li>
{% endfor %}
{% endblock %}
    </table>
